@media only screen and (min-width: 64rem) {
    
    header{
        display: grid;
        grid-template-rows: auto auto;
    }

    header:nth-child(1){
        grid-row-start: 1;
        
    }

    header nav ul li{
        list-style-type: none;
        display: block;
    }

    header nav ul{
        display: flex;
        padding-bottom: 0;
    }

    header nav ul li a{
        display: block;
        padding: .8rem 2vw;
        text-decoration: none;
        border-style: none;
        border-right: 1px solid rgba(0,0,0,0.5);
        border-left: 1px solid rgba(0, 0, 0, 0.5);
    }

    #hamburgerBtn{
        display: none;
    }

    main{
        grid-template-rows: 200px 200px 200px;
        grid-template-columns: auto auto auto auto;
    }

    /*This is the big middle one*/
    main div:nth-child(1){
        display: block;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 1;
        grid-row-end: 3;
    }

    /*Event - the first on the left*/
    main div:nth-child(2){
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 1;
    }


    /*Weather - second on the left*/
    main div:nth-child(3){
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 2;
    }

    /*News Release - Bottom middle, below the first div*/
    main div:nth-child(4){
        display: block;
        grid-column-start: 2;
        grid-column-end: 4;
        grid-row-start: 3;
    }
    
    /*Join left bottom*/
    main div:nth-child(5){
        display: block;
        grid-column-start: 1;
        grid-column-end: 2;
        grid-row-start: 3;
    }
    
    main div{
        margin-top: none;
        margin-right: 15px;
    }
    
    
    
    #Spotlight{
        display: flex;
        flex-direction: column;


        grid-row-start: 1;
        grid-row-end: 4;
        grid-column-start: 4;
        grid-column-end: 5;

        margin-bottom: 15px;

    }
    
    #Spotlight div {
        padding: 0;
        margin:0;
        flex-grow: 1;
    }
    
    #Spotlight div:nth-child(3){
        display: block;
    }

}