body{
    display: block;
}


main div{
    background-color: #55b6b6;
    border: 1px solid black;
    margin-bottom: 10px;
    border-radius: 15px;
}

#call_to_action{
    display: flex;
    flex-direction: column;
}

nav ul{
    list-style-type: none;
}

header{
    display: grid;
    grid-template-rows: auto auto;
}

#SecondHeader{
    border: 1px, solid, black;
    border-radius: 15px;
}


header div:nth-child(1){
    display: flex;
    grid-row-start: 1;

}

header nav ul li a{
    display: block;
    padding: .8rem 2vw;
    text-decoration: none;
    border-top: 1px solid rgba(0, 0, 0, 0.5);
}

header nav ul li a:hover{
    background-color: rgba(0, 0, 0, 0.3);
    color: white;
}


header, h1, footer{
    background-color: #8D8741;
}

h2{
    background-color: #BC986A;
}

img.logo{
    max-width: 100px;
}



h1, h2, h3{
    font-family: 'Anton', sans-serif;
    font-family: 'Inter', sans-serif;
    font-family: 'Kanit', sans-serif;
}

main{
    display:grid;
    grid-template-rows: 200px 200px 200px 200px 200px;
}

main div:nth-child(1){
    grid-template-rows: 1;
}


/* ------------THE_WEATHER_SECTION---------------- */

div#Weather-section div{
    border: none;
}

div#Weather-section p:nth-child(3) {
    display: block;
}


/* ------------------------------------------------ */

/*
#TheBigRiver{

}
*/

#weatherIcon{
    max-width: 25px;
}

main div:nth-child(5){
    display:none;
}

#Spotlight{
    margin-top: none;
}


#Spotlight{
    display: grid;
    grid-template-rows: auto auto auto;
}

#Spotlight div {
    padding: 0;
    margin:0;
}

main div p:nth-child(3){
    display: none;
}

#footerflex{
    display: flex;
}

#SocialMedia{
    display: flex;
}

#SocialMedia a img{
    max-height: 25px;
}

nav ul {display: none;}

nav ul.open{display: block;}

#hamburgerBtn span:nth-child(1){display: block;}
#hamburgerBtn span:nth-child(2){display: none;}

#hamburgerBtn.open span:nth-child(1){display: none;}
#hamburgerBtn.open span:nth-child(2){display: block;}

#Discover_main{
    grid-template-columns: auto;
    grid-template-rows: none;
}


picture{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    padding-bottom: 10px;
    margin: auto;
}

picture:hover{
    border: 5px solid black ;
}

picture img[data-src]{
    filter: blur(0.2em);
}


picture img{
    filter: blur(0em);
    transition: filter 0.5s;

}


/*-------------------SUBMIT FORM-------------------*/

body#join main{
    display: block;
}

form label.top, form div{
    display: block;
    padding-top: 1rem;
    font-size: .8rem;
}

form label.top input, form label.top select{
    -webkit-apperence: none;
    display: block;
    font-size: 1rem;
    border: solid 1px #999;
    border-radius: 4px;
    padding: .75rem;
    color: #555;
    width: 100%;
    max-width: 20rem;
    background-color: rgba(0, 0, 0, 0.1)
}

fieldset div{
    display: block;
}
form fieldset div label.sbs{
    display: block;
    padding: .75rem 0;
    color: #555;
}

form label.top input:required{
    border-left: red solid 6px;
}

form label.top input:required{
    border-left: green solid 6px;
}

fieldset#options{
    display: flex;
}

/*-----------------FOOTER--------------------*/
footer{
    display: block;
}




/* ----------------------DIRECTOR_PAGE------------------------ */


/* -----------------main---------------- */
main div#companies_display{
    display: grid;
    grid-template-columns: auto;
    background-color: white;
    border: none;
}

main div#companies_display section{
    background-color: #55b6b6;
    border: 2px, solid, black;
    box-shadow: 5px 5px 15px gray;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    max-width: 350px;
}

main div#companies_display section div{
    background-color: none;
    border:none;
    margin-left: 1vw;

}

#director_main{
    display: block;
}

main div#companies_display section img{
    margin-left: 1vw;


}

main div#companies_display section h2{
    margin-left: 1vw;
    margin-right: 1vw;
    background-color: #55b6b6;
}

#director_main h2{
    background-color: white;
    border-bottom: 5px solid #8D8741;

}


